html,
body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    color: #2c2c2c;
}

#root {
    position: relative;
    width: 100vw;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "sidebar content content";
    grid-template-columns: 240px 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr;
    height: 100vh;
}

.header {
    grid-area: header;
    background-color: #f5f5f5;
}

ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}

li {
    margin-right: 10px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #a10606;
}

.content {
    grid-area: content;
    background-color: #d276ee;
}
